/* - 962 wide - */

* { box-sizing: border-box; }

img { max-width: 100%; }

a { text-align: center; }

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
   border: 1px solid black;
   background-color: white;
}

body { background-color: #E2E2E2; }

/*--------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body { font-family: 'Roboto', sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,300;1,400&display=swap');
h1, h2, h3, h4, h5, h6 { font-family: 'Ysabeau', sans-serif; font-weight: normal; }
/*--------------------------------------------------------------------------------------*/
/* Header */
header {
   height: 37.5rem;
   max-height: 500px;
   background-image: url("../img/background1-dark.jpg");
   background-size: cover;
}
#logo {
   margin-top: 2.35rem;
   margin-left: 3.75rem;
   width: 14.85rem;
   height: 7.05rem;
   max-width: 250px;
   max-height: 150px;
}
#nav-bar {
   float: right;
   display: inline-flex;
   justify-content: space-between;
   margin-top: 2.8125rem;
   margin-right: 3.4375rem;
   width: 14rem;
}
#nav-bar > a {
   padding: 0.4375rem;
   color: white;
}
#nav-bar > a:hover {
   color: black;
   background-color: white;
   font-weight: bold;
   transition: 350ms;
}
header > div {
   color: white;
   margin-top: 4.875rem;
   margin-left: 5.15625rem;
}
header > div > h2, header > div > h5 {
   margin: 0 0 0.5rem 0;
   font-weight: normal;
}
header > div > button {
   width: 9.0625rem;
   height: 2.8125rem;
}
header > div > button {
   width: 10rem;
   height: 2.5rem;
   border: 1px solid white;
   border-radius: 0.25rem;
   background-color: #278FD8;
   color: white;
}
/*--------------------------------------------------------------------------------------*/
/* Main */
main {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-block: 3.20525rem;
   padding-inline: 6.640625rem;
}
main > h2 {
   font-weight: normal;
   margin-bottom: 0.5rem;
}
main > p {
   text-align: center;
}
#nouveau {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 3rem;
   margin-top: 2rem;
}
.menu-item {
   width: 17.1875rem;
   /* height: 26.5625rem; */
   margin-bottom: 2rem;
}
.menu-item > img {
   width: 100%;
   height: 13.4375rem;
   object-fit: cover;
}
.name-price {
   display: flex;
   justify-content: space-between;
   margin-top: 1rem;
   margin-bottom: 1.5rem;
}
.name-price > * {
   margin: 0;
}
.name-price > p {
   color: #76B1D6;
   font-weight: bold;
}
.menu-item > p {
   font-size: 0.8rem;
   margin-bottom: 2rem;
}
.menu-item > button {
   width: 100%;
   height: 4.0625rem;
   border: none;
   border-radius: 0.45rem;
   background-color: #278FD8;
   color: white;
   letter-spacing: 0.5px;
}
.populaires > p {
   font-size: 1.25rem;
}
/*--------------------------------------------------------------------------------------*/
/* Footer */
footer {
   display: flex;
   height: 28.125rem;
   padding-block: 3.515625rem;
   padding-inline: 4.6875rem;
   background-color: #0F0F0F/*#BEBEBE*/;
   color: white;
}
footer > * {
   width: 50%;
   height: 100%;
}
footer > div > h1 {
   font-size: 2.5rem;
   margin-top: 0;
}
#socials {
   display: flex;
   justify-content: space-between;
   gap: 3.3333333333%;
   width: 12.46867rem;
}
#socials > img {
   width: 30%;
   border-radius: 51%;
   background-color: white;
}