:root {
   --auto-em: calc(min(100vw, 1200px) / 25 * 1/3);
   --hpt: 2.35rem;
   --hpi: 3.5rem;
}
* { box-sizing: border-box; }
img { max-width: 100%; }
a { text-align: center; }
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
   border: 1px solid black;
   background-color: white;
}
body { background-color: #E2E2E2; }
/*---Fonts------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body { font-family: 'Roboto', sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,300;1,400&display=swap');
h1, h2, h3, h4, h5, h6 { font-family: 'Ysabeau', sans-serif; font-weight: normal; }
/*---Theme-Header-----------------------------------------------------------------------*/
header {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   height: 37.5rem;
   max-height: 500px;
   background-image: url("../img/background1-dark.jpg");
   background-size: cover;
}
#top {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 1200px;
   padding-top: var(--hpt);
   position: absolute;
   top: 0;
   padding-inline: var(--hpi);
}
#top > img {
   width: 14.85rem;
   height: auto;
   max-width: 250px;
   max-height: 150px;
}
#top > nav {
   float: right;
   display: inline-flex;
   justify-content: space-between;
   gap: 1rem;
   height: max-content;
}
#top > nav > a {
   padding: 0.4375rem;
   color: white;
}
#top > nav > a:hover {
   color: black;
   background-color: white;
   font-weight: bold;
   transition: 350ms;
}
#icon-menu {
   display: none;
   width: 4rem;
   height: 4rem;
   margin-top: 0.7rem;
}
header > h1 {
   font-weight: bolder;
   font-size: 4rem;
   color: white;
}
/*---Theme-Main-------------------------------------------------------------------------*/
main {
   display: flex;
   flex-flow: column;
   align-items: center;
   padding-block: 3.20525rem;
   /* padding-inline: 6.640625rem; */
   padding-inline: 7.5%;
}
/*---Theme-Footer-----------------------------------------------------------------------*/
footer {
   display: flex;
   flex-flow: row wrap;
   row-gap: 2.5rem;
   height: 28.125rem;
   padding-block: 3.515625rem;
   padding-inline: 4.6875rem;
   background-color: #BEBEBE;
   color: white;
}
footer > * {
   width: 50%;
   height: 100%;
}
footer > div > h1 {
   font-size: 2.5rem;
   margin-top: 0;
}
#socials {
   display: flex;
   justify-content: space-between;
   gap: 3.3333333333%;
   width: 12.46867rem;
}
#socials > img {
   width: 3.75rem;
   border-radius: 51%;
   background-color: white;
}
/*--Accueil-----------------------------------------------------------------------------*/
#accueil-info {
   color: white;
   margin-top: 4.875rem;
   margin-left: 5.15625rem;
   align-self: start;
}
#accueil-info > h2,
#accueil-info > h5 {
   margin: 0 0 0.5rem 0;
   font-weight: normal;
}
#accueil-info > button {
   width: 9.0625rem;
   height: 2.8125rem;
}
#accueil-info > button {
   width: 10rem;
   height: 2.5rem;
   border: 1px solid white;
   border-radius: 0.25rem;
   background-color: #278FD8;
   color: white;
}
main#accueil > h2 {
   font-weight: normal;
   margin-bottom: 0.5rem;
}
main#accueil > p {
   text-align: center;
   width: 90%;
   max-width: 42rem;
}

#nouveau {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: calc(var(--auto-em) * 2.5);
   margin-top: 2rem;
}
.item {
   font-size: var(--auto-em);
   width: 17.1875em;
   margin-bottom: 2rem;
}
.item > img {
   width: 100%;
   height: 13.4375em;
   object-fit: cover;
}
.item > .name-price {
   display: flex;
   justify-content: space-between;
   margin-top: 1em;
   margin-bottom: 1.5em;
}
.item > .name-price > * {
   margin: 0;
}
.item > .name-price > p {
   color: #76B1D6;
   font-weight: bold;
}
.item > p {
   font-size: 0.8em;
   margin-bottom: 2em;
}
.item > button {
   width: 100%;
   height: 4.0625em;
   border: none;
   border-radius: 0.45em;
   background-color: #278FD8;
   color: white;
   letter-spacing: 0.5px;
}
.item.populaires > p {
   font-size: 1.25em;
   margin-bottom: 0;
}
/*---Réserver---------------------------------------------------------------------------*/

/*---Menu-------------------------------------------------------------------------------*/
main#menu > h2 {
   font-size: 1.875rem;
   margin-top: 0;
   margin-right: auto;
   margin-left: 0;
}
main#menu > div {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 
   'a b b'
   'c b b'
   'd d e'
   'd d f';
   margin-bottom: 3rem;
}

main#menu > div > img:nth-child(1)  { grid-area: a;}
main#menu > div > img:nth-child(2)  { grid-area: b;}
main#menu > div > img:nth-child(3)  { grid-area: c;}
main#menu > div > img:nth-child(4)  { grid-area: d;}
main#menu > div > img:nth-child(5)  { grid-area: e;}
main#menu > div > img:nth-child(6)  { grid-area: f;}
/*---Responsive-------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
   
}
@media screen and (max-width: 960px) {
   /*----------- Header -----------*/
   :root {
      --header-pad-top: 1rem;
      --header-pad-inline: 2rem;
   }
   #top > nav > a { display: none; }
   #icon-menu { display: block; }
   /*------------ Menu ------------*/
   main#menu > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      'a b'
      'c c'
      'c c'
      'e f'
      'd d'
      'd d';
      margin-bottom: 2rem;
   }
}
@media screen and (max-width: 570px) {
   :root {
      --header-pad-top: 2rem;
      --header-pad-inline: 1.5rem;
   }
   /*----------- Accueil ----------*/
   #accueil-info {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 2rem;
      margin-left: 0;
      align-self: unset;
   }
   #accueil-info > h5 { display: none; }
   .item { font-size: calc(var(--auto-em) * 3); }
   .item > img { height: 10em; }
   /*----------- Footer -----------*/
   footer {
      height: unset;
      padding: 5rem 2.25rem 2rem 2.25rem;
   }
   footer > * { width: 100%; }
   footer > div { height: unset; }
   footer > iframe { height: 17.0625rem; }
   footer > div > #socials {
      justify-content: center;
      gap: 6.6666666666%;
      margin-top: 7.5rem;
      width: unset;
   }
}